
body{
    font-family: 'Source Sans Pro';
}

.header{
    display: flex;
    flex-direction: column;
    margin: 2% 40%;
    height: 5vh;
    text-align: center;
}

h2{
    margin: 0;
}

.lobby-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    margin: 0 40%;
}
  
.chat-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin: 0 37.5%;
}

textarea {
    resize: none;
}

.MuiAvatar-root{   
    margin: 0 3px;
}

p {
    max-width: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 8px 20px;
    border-radius: 25px;
    max-width: 200px;
    overflow: hidden;
    word-wrap: break-word;
}
 
.message div{
    border: none;
    overflow: wrap;
}

.message {
    display: flex;
    align-items: center;
    overflow: wrap;
}
  
.sent {
    flex-direction: row-reverse;
  }
  
.sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
    text-align: start;
}

.received p {
    background: #06cc8d;
    color: white;;
    text-align: start;
}